*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: rgb(150, 140, 176) ; */
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
    text-transform: capitalize;
    background-color: rgb(150, 140, 176) !important;
}

/* ------------------------------------------------------------ */

header{
    height: 80px;
    background-color: rgb(188, 176, 217);
    /* display: flex; */
    /* justify-content: center; */
    padding: 1%;
    /* margin: auto; */
    /* overflow: hidden; */
}
.container{
    width: 80%;
    /* background-color: rgb(255, 148, 9); */
    margin: auto;
    padding-top: 0.20%;
}
.header-content{
    /* width: 99%; */
/* background-color: rgb(193, 64, 137); */
display: flex;
justify-content: space-between;
align-items: center;
/* flex-direction: column; */

}

.header-content .shppca{
        color: #3d3849;
        display: inline-block;
        text-decoration: none;
        font-size: 33px;
}

nav {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    /* background-color: rgb(206, 0, 0); */
    /* width: 66%; */
    

}
nav ul {
    display: flex;
    list-style: none;
    /* background-color: rgb(91, 40, 56); */
    margin: auto;
    justify-content: center;
}
.links {
    /* background-color: rgb(255, 167, 152); */
    /* padding: 1%;
        margin: 1%; */
    display: none;
    /* display: flex; */
}
.user-info{
    display: none;
    /* display:flex; */
    /* padding: 0.25%; */
    font-size: 22px;
    color: #9b916e;
    font-weight: 600;
    /* background-color: rgb(47, 47, 159); */
    flex-direction: row-reverse;
    /* width: 55%; */
        /* margin-left: auto;
            text-align: right; */
            position: relative;
}
.header-content .user-info .user {
 /* padding-top: .25%; */
    /* background-color: rgb(255, 88, 121); */
    display: none;
    color: #9b916e;
    /* border-left: 1px solid#9b916e; */
    /* border-bottom: 1px solid #9b916e; */
    /* border-right: 1px solid #9b916e; */
    font-size: 15px;
    align-items: center;
    justify-content: center;
    /* margin-right: 2%; */
        padding: 9px 33px;
}
.header-content .user-info li i{
    display: flex;
    /* padding: 0; */
    margin: 9px 22px 9px 0px;
    color: #625978;
    cursor: pointer;
    width: 9%;
    /* background-color: #9b916e; */
        transition: all .3s ease;
            -webkit-transition: all .3s ease;
            -moz-transition: all .3s ease;
            -ms-transition: all .3s ease;
            -o-transition: all .3s ease;
}
nav ul li {
    /* background-color: #004f20; */
   text-align: center;
   justify-content: center;
   margin: auto;
}
 
nav .user-info li .padge{
    display: flex;
    width: 17px;
    height: 17px;
    justify-content: center;
    background-color: #433958;
    position: absolute;
    top: -8px;
    left: 50px;
    font-size: 13px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    text-align: center;
}

nav ul a{
    color: #625978;
    padding: 9px 33px;
    display: block;
    text-decoration: none;
    font-size: 17px;
    min-width: 22px;
    transition: all .3s ease;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
    /* align-items: stretch; to work with this prpo you have to use min width */
    /* background-color: yellow; */
}
nav ul li:hover a  , .user-info li i:hover{
    /* color: rgb(190, 155, 65) ; */
color: #9b916e;
}

/* ------------------------------------------------------------- */


section{
    margin: auto;
    text-align: center;
    background-color: rgb(150, 140, 176);
    padding: 4% 2%;
    color: #4d475b;
    /* height: 88vh; */
}
 .section-form form{
    width: 55%;
    display: flex;
    margin: 2%  auto;
    background-color: rgb(197, 189, 218);
    flex-direction: column;
    /* justify-content: space-around; */
    padding: 1%;
}
.section-form form a{
    color: #9b916e;
    text-decoration: none;
    font-weight: bold;
}
.section-form form input{
    /* input doesnt follow to inhirti and didnt apply any prop from outside */
    background-color: rgb(222, 215, 240);
    padding: 1%;
    margin: 2%;
    /* display: block;
    width: 100%; */
    color: #3b3647;
    /* color: #bab39b; */
    border: none;
}
.section-form form input:focus{
    outline: none;
    border: none;
}
.section-form form input::placeholder {
    color: #bab39b;   
    text-transform: capitalize;
}
.section-form form input[type=submit]{
    background-color: rgb(127, 118, 152);
    color: rgb(218, 216, 186) ;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
.section-form form input[type=submit]:hover {
    /* background-color:rgb(190, 155, 65) ; */
    /* background-color: #b0a88c; */
   /* background-color: #9b916e; */
    background-color: #bab39b;
    color:rgb(127, 118, 152);
}

/* --------------------------------------------------- */

 
.home-sec .products{
    width: 99%;
    margin: 2% auto;
    background-color: #504a5edf;
    padding: 2%;
    /* text-align: center */
    /* display: flex;
    justify-content: space-evenly; */
    border-radius: 22px 44px 22px 44px;
    -webkit-border-radius: 22px 44px 22px 44px;
    -moz-border-radius: 22px 44px 22px 44px;
    -ms-border-radius: 22px 44px 22px 44px;
    -o-border-radius: 22px 44px 22px 44px;
}
.home-sec .products .product-item{
        width: 60%;
        display: flex;
        justify-content: space-evenly;
        background-color: #b0a682f1;
        border-radius: 33px 11px 33px 11px;
        -webkit-border-radius: 33px 11px 33px 11px;
        -moz-border-radius: 33px 11px 33px 11px;
        -ms-border-radius: 33px 11px 33px 11px;
        -o-border-radius: 33px 11px 33px 11px;
        padding: 1%;
        margin: 2%;
}
.home-sec .products .product-item img {
    height: 188px;
    /* width: 50%; */
     width: 25%;
    border-radius: 33px 55px 44px 66px;
    -webkit-border-radius: 33px 55px 44px 66px;
    -moz-border-radius: 33px 55px 44px 66px;
    -ms-border-radius: 33px 55px 44px 66px;
    -o-border-radius: 33px 55px 44px 66px;
    box-shadow: 2px 2px 22px #625978;
}
.home-sec .products .product-item .prod-item-des{
     margin: 2%;
     padding:2%;
     /* width: 44%; */
     /* background-color: #e6c344; */
     text-align: left;
}
.home-sec .products .product-item .prod-item-des h2 {
    color: #8679a3;
}
.home-sec .products .product-item .prod-item-des p {
    color: #d8cfb0;
}
.home-sec .products .product-item .prod-item-des span {
    color: #6d6750;
}
.home-sec .products .product-item .prod-item-action {
    margin: .5%;
    padding: 1%;
    flex: 1;
     /* flex =  flexbasis and flex shrink  */
    text-align: right;
    /* background-color: #3d3849; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /* cursor: pointer;
    width: 20%; */
}

.home-sec .products .product-item .prod-item-action button{
       background-color: #BCB0D9;
       padding: 7px 17px ;
       color: #9b916e;
       border: none;
       cursor: pointer;
       margin-left: auto;
       text-transform: capitalize;
       font-size: 15px;
       font-weight: 300;
       border-radius: 11px;
       -webkit-border-radius: 11px;
       -moz-border-radius: 11px;
       -ms-border-radius: 11px;
       -o-border-radius: 11px;
       transition: all .3s ease;
       -webkit-transition: all .3s ease;
       -moz-transition: all .3s ease;
       -ms-transition: all .3s ease;
       -o-transition: all .3s ease;
}
.home-sec .products .product-item .prod-item-action button:hover {
    background-color: #d8cfb0;
    color: #8679a3;
}
.home-sec .products .product-item .prod-item-action i {
    display: block;
    cursor: pointer;
    width: 9%;
    margin-left: auto;
    color: #7f7655;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    font-size: 22px ;
}
.home-sec .products .product-item .prod-item-action i:hover {
     color: #8679a3;
}

